<% colors = ["red", "blue", "purple", "orange"]%>

<p> There are <%= colors.length %> colors </p>

<ul>
  <%for color in colors%>
    <li> <%= color %> </li>
  <%end%>
</ul>

<p> There are <%= 4 + 2 %> colors </p>